<h2 class="headertekst">Tasks</h2>

<app-todo-item
*ngFor="let todo of todos index as taskIndex"
 [todo] =todo
 (deleteTodo)="deleteTodo($event)">
    <h3>
        <a [title]="todo.title + ' details'" [routerLink]="['/products', taskIndex]">
            {{ todo.title }}
        </a>
    </h3>
    <p *ngIf="todo.description">
        Description: {{ todo.description }}
    </p>
    <button (click)="share()">
      Share
    </button>
</app-todo-item>
<!-- Copyright Google LLC. All Rights Reserved. Use of this source code is governed by an
            MIT-style license that can be found in the LICENSE file at http://angular.io/license -->
