h2.headertekst {
  text-align: center;
}

.button {
  background-color: #333;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

a.addButton {
  margin: 5px;
  background-color: #333;
}
