<h2>Tasks</h2>

<div *ngFor="let task of tasks index as taskIndex">
    <h3>
        <a [title]="task.title + ' details'" [routerLink]="['/products', taskIndex]">
            {{ task.title }}
        </a>
    </h3>
    <p *ngIf="task.description">
        Description: {{ task.description }}
    </p>
    <button (click)="share()">
      Share
    </button>
</div>
<!-- Copyright Google LLC. All Rights Reserved. Use of this source code is governed by an
            MIT-style license that can be found in the LICENSE file at http://angular.io/license -->
