.del {
  float: right;
  background-color: red;
}

.todo {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  transition: width 2s;
  transition: height 2s;
}

.is-complete {
  text-decoration: line-through;
}
.is-deleted {
  width: 0%;
  height: 0%;
}
